html, body {
  /* font-family: Helvetica, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif; */
  /* font-size: 14px; */
  /* font-size: 1.1em; */
  /* line-height: 130%; */
  /* background: #333; */
  /* color: #fff; */
  min-width: 800px;
  background-image:url('../images/texture.png');
}

a {
  text-decoration: none;
  color: #FFF;
}

#content {
  width: 930px; /* 960 after padding though */
  margin: auto;
  padding: 15px;
  background: #fff;
  color: #000;
}

#header {
  position: relative;
  top: auto;
  left: auto;
  /* background: -moz-linear-gradient(top, #000, #333);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000), to(#333)); */
  display: block;
  height: 70px;
  border-bottom: 1px groove #FFF;
  padding: 0px 5px;
  color: #286DA3;
}

#top_bar_container {
  width: 960px;
  margin: 0px auto;
}

#top_bar_logo {
  float: left;
  margin-left: 15px;
  min-width: 50px;
  font-size: 42px;
  line-height: 70px;
  /* font-variant: small-caps; */
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.246094) -1px -1px 0px;
}

.logo_font {
  font-family: "Lobster", Helvetica, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
  text-decoration: none;
  outline: none;
  color: #fff;
  font-size: 2em;
}
.logo {
  font-family: inherit;
}

#top_bar_logo a {
  font-family: "Lobster", Helvetica, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
  text-decoration: none;
  outline: none;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;  
}
#top_bar_logo a:hover {
  color: #254A86;
  text-shadow: rgba(0, 0, 0, 0.246094) 2px 2px 2px;
}

#topnav {
  margin: 10px auto;
  float: right;
  height: 36px;
  line-height: 36px;
  font-size: 12px;
}
#topnav ul {
  list-style: none;
}
#topnav ul li {
  padding: 5px;
  float: left;
  display: inline;
  text-align: center;
}
#topnav ul li a {
  text-decoration: none;
  color: #FFF;
  display: block;
  font-size: 16px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#topnav ul li a:hover {
  color: #FFF;
  text-decoration: none;  
  text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}

#site {
  margin: 10px auto 10px;
  position: relative;
  padding: 0px 5px;
  width: 960px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  display: block;
}

#flash { 
  display: none;
  text-align: center;
  border: 2px solid #ddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
  font-size: 1.2em;
  padding-top: 5px;
  padding-bottom: 5px;
}

#footer {
  width: 100%;
  margin: auto;
  text-align: center;
  color: #fff;
  margin-top: 10px;
  padding: 5px;
}
#footer a {
  color: #fff;
  text-decoration: none;
}
#footer a:hover {
  text-decoration: underline;
}

#home {
  width: 880px;
  margin: auto;
}

#login {
  margin: auto;
  padding: 10px 0px;
  text-align: center;
  min-width: 400px;
  width: 100%;
}

#login-fancy {
  margin: auto;
  padding: 10px 0px;
  text-align: center;
  min-width: 400px;
  width: 100%;
  border: 1px solid #E8E8E8;
  background: #E8E8E8;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: #333 0px 0px 5px;
  -moz-box-shadow: #333 0px 0px 5px;
  -box-shadow: #333 0px 0px 5px;
}

#noscript {
  color: red;
  font-size: 130%;
  text-align: center;
}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}

#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

#page-wrap {
  position: relative;
  z-index: 2;
  width: 800px;
  padding: 0;
  margin: 100px auto;
}

.transparent {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
  -moz-opacity:0.9;
  -khtml-opacity: 0.9;
  opacity: 0.9;
}

.shadow {
  -moz-box-shadow: 5px 5px 10px #000;
  -webkit-box-shadow: 5px 5px 10px #000;
  box-shadow: 5px 5px 10px #000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=135, Color='#000000')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=135, Color='#000000');
}

.rounded {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}
.top-left-rounded-corner {
	-webkit-border-top-left-radius: 20px;
	-khtml-border-radius-topleft: 20px;	
	-moz-border-radius-topleft: 20px;
	border-top-left-radius: 20px;
}
.top-right-rounded-corner {
	-webkit-border-top-right-radius: 20px;
	-khtml-border-radius-topright: 20px;	
	-moz-border-radius-topright: 20px;
	border-top-right-radius: 20px;
}

#landing-content {
  background: #000;
  z-index: 3;
  margin: 0;
  padding: 15px;
  color: #fff;
  padding-left: 35px;
}

#landing-content h1 {
  margin: 5px;
}
