html, body {
  font-family: Helvetica, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
  font-size: 14px;
  font-size: 1.1em;
  line-height: 130%;
  background: #FFFFFF;
  color: #000000;
  min-width: 800px;
}

a {
  text-decoration: none;
  color: #FFF;
}

#page {
  margin: 0 auto -32px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

#content {
  width: 880px;
  padding: 10px;
}

#top_bar {
  position: relative;
  top: auto;
  left: auto;
  background: -moz-linear-gradient(top, #E8E8E8, #FFFFFF);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#E8E8E8));
  display: block;
  height: 70px;
  line-height: 50px;
  font-size: 12sepx;
  border-bottom: 1px groove #FFF;
  padding: 0px 5px;
  color: #286DA3;
}
#top_bar_container {
  width: 900px;
  margin: 0px auto;
}
#top_bar_logo {
  float: left;
  margin-left: 15px;
  min-width: 50px;
  font-size: 36px;
  line-height: 50px;
  font-variant: small-caps;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.246094) -1px -1px 0px;
}
.logo {
  font-family: inherit;
}
#top_bar_logo a {
  text-decoration: none;
  outline: none;
  color: #333;
}
#top_bar_logo a:hover {
  color: #286DA3;
  text-shadow: rgba(0, 0, 0, 0.246094) 2px 2px 2px;
}
#top_bar_links {
  padding: 1px;
  margin-top: 10px;
  margin-right: 10px;
  float: right;
  height: 30px;
  line-height: 30px;
  min-width: 30px;
  text-align: center;
  background: #EEE -moz-linear-gradient(top, #FFF, #EEE);
  background: #EEE -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#EEE));
  text-shadow: rgba(255, 255, 255, 0.246094) -1px -1px 0px;
  border: 1px solid #EEE;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  vertical-align: middle;
}
#top_bar_links a {
  margin: auto 5px;
}
#top_bar_links a:hover {
  text-decoration: underline;
}
#top_bar_search {
  margin-left: 10px;
  height: 50px;
  line-height: 50px;
}

#site {
  margin: -20px auto 10px;
  position: relative;
  padding: 0px 5px;
  min-width: 870px;
  width: 900px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  display: block;
  font-size: 14px;
}

#notices {
  width: 896px;
  padding: 2px;
  margin: 5px auto 2px;
  text-align: center;
  color: green;
}
.notice {
  color: green;
}
.alert {
  color: red;
}

#footer {
  position: relative;
  bottom: -1px;
  left: auto;
  display: block;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  border-top: 1px groove #FFF;
  background: #E8E8E8;
  padding: 0px 5px;
  text-align: center;
}
#footer a {
  color: #286DA3;
  text-decoration: none;
}
#footer a:hover {
  text-decoration: underline;
}

#home {
  width: 880px;
  margin: auto;
}

#login {
  margin: auto;
  padding: 10px 0px;
  text-align: center;
  min-width: 400px;
  width: 100%;
}
#login-fancy {
  margin: auto;
  padding: 10px 0px;
  text-align: center;
  min-width: 400px;
  width: 100%;
  border: 1px solid #E8E8E8;
  background: #E8E8E8;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: #333 0px 0px 5px;
  -moz-box-shadow: #333 0px 0px 5px;
  -box-shadow: #333 0px 0px 5px;
}

a.link {
  text-decoration: none;
  color: #FFFFFF; 
  outline: none;
  color: #286DA3; 
}
a.link:hover {
  text-decoration: underline;
}

a.clickable_button {
  margin: auto;
  min-width: 100px;
  font-size: 12px;
  text-decoration: none;
  background: #EE4720;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -box-shadow: #333 0px 0px 5px;
  -moz-box-shadow: #333 0px 0px 5px;
  -webkit-box-shadow: #333 0px 0px 5px;
}
a.clickable_button:hover {
  background: #FF5831;
  background: -moz-linear-gradient(top, #EE4720, #FF5831);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FF5831), to(#EE4720));
}

._odd {
  min-height: 30px;
  background: #E8E8E8;
  padding: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-bottom: 1px;
}
._even {
  min-height: 30px;   
  padding: 10px;
  border: 1px solid #E8E8E8;  
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;   
}

.plus_minus {
  font-family: Courier New, monospace;
  width: 12px;
  margin-left: 18px;
  display: inline;
  text-align: center;
  padding: 1px 1px 0px 2px;
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  background: #FFFFFF;
  cursor: pointer;
  border: 1px solid gold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; 
}

textarea.styled_text_area_1_20 {
  width: 20px;
  height: 16px;
}
textarea.styled_text_area_1_400 {
  width: 400px;
  height: 16px;
}
textarea.styled_text_area_3_400 {
  width: 400px;
  height: 48px;
}

#noscript {
  color: red;
  font-size: 130%;
  text-align: center;
}
.push {
  height: 30px;
}
.italic {
  font-style:italic;
}
.bold {
  font-weight: bold;
}
.hidden {
  visibility: hidden;
}
.hover {
  z-index: 999;
  width: 220px;
  position: absolute;
  background: #286DA3;
  color: #FFFFFF;
  padding: 5px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  top: -50px;
  left: auto;
  text-align: center;
}
.left {
  float: left;
  margin-right: 1px;
}
.right {
  float: right;
  margin-left: 1px;
}
.clear {
  clear: both;
}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

#page-wrap {
  position: relative;
  z-index: 2;
  width: 500px;
  padding: 0;
  margin: 100px auto;
}

.transparent {
  width: 100%; 
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
  -moz-opacity:0.9;
  -khtml-opacity: 0.9;
  opacity: 0.9;
}

.shadow {
  -moz-box-shadow: 5px 5px 10px #000;
  -webkit-box-shadow: 5px 5px 10px #000;
  box-shadow: 5px 5px 10px #000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=135, Color='#000000')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=135, Color='#000000');
}

.rounded {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}

#landing-content {
  background: #000;
  z-index: 3;
  margin: 0;
  padding: 15px;
  color: #fff;
}
#landing-content h1 {
  margin: 5px;
}

h1 {
  font-size: 2em;
  font-family: "Hoefler Text", Baskerville, Garamond, "Palatino Linotype", Georgia, "Times New Roman", serif;
}

#landing-footer {
  text-align: center;
  color: #fff;
  margin-top: 30px;
  font-size: 0.8em;
  width: 500px;
}