<!DOCTYPE html> 
<html> 
<head> 
	<title>Whichado - <%= @city %></title> 
</head> 
 
<body> 
	<div id="page-wrap"> 
	    <div id="landing-content" class="transparent shadow rounded"> 
            <h1>Whichado - <%= @city %></h1> 
            
            <%= yield %>
            
        </div> 
        <div id="landing-footer">About Us | ...</div> 
	</div> 
    <!-- main bg image --> 
	<div id="bg"> 
		<img src="images/bg_<%= @cityOriginal.downcase.delete(' ') %>.jpg" alt="" /> 
	</div> 
</body> 
</html>